env_abrev_dash  = "-dev"
rg_location     = "Brazil South"
github_username = "felipementel"
github_owner_id = 14238257

sqbdb_users_max_size_gb = 2
sqbdb_users_sku_name    = "Basic"

snyk_api_key       = "snyk_uat.1fcad39e.abc123"
sonar_organization = "felipementel"
sonar_project_key  = "felipementel_DevSecOps.Tools"
sonar_project_name = "DevSecOps.Tools"
sonar_token        = "sonar_uat_abc123"


##########
# Para obter o valor do github_owner_id, acesse a URL: https://api.github.com/users/<github_username> e copie o valor do campo "id" do JSON retornado.
# ou execute o comando: gh api user --jq .id
